:root {
  --system-ui:
    system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --main-bg-color: #484b5e;
  --main-font-color: #fff;
  --square-bg-color: #588897;
  --square-ship-bg-color: #41646e;
  --attack-mark-hit-color: #e97272;
  --attack-mark-miss-color: #36494e;
  --square-hover-border-color: #ebab62;
}

body {
  min-height: 100vh;
  background-color: var(--main-bg-color);
  color: var(--main-font-color);
  font-family: var(--system-ui);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px 0px;
  width: 100%;

  #main-title {
    font-weight: 900;
    font-size: 3rem;
    width: fit-content;
    text-decoration: underline;
  }
}

main {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  #feedback-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8px;
    width: 600px;
    height: 80px;
    text-align: center;
  }

  #players-section {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 32px;
  }
}

.player-box {
  .title {
    text-align: center;
    margin: 16px 0;
    font-size: 1.2rem;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(11, 40px);
    grid-template-rows: repeat(11, 40px);

    & > * {
      align-items: center;
      justify-items: center;
    }
  }

  .indexes {
    display: grid;
    font-weight: 600;

    &.x-indexes {
      grid-template-columns: subgrid;
      grid-column: 2 / -1;
      grid-row: 1 / span 1;
    }

    &.y-indexes {
      grid-template-rows: subgrid;
      grid-column: 1 / span 1;
      grid-row: 2 / -1;
    }
  }

  .board {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    outline: 6px solid #fff;
    background-color: var(--square-bg-color);

    .square {
      border: 1px solid #fff;
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .attack-mark {
        width: 50%;
        height: 50%;
        border-radius: 50%;
      }
    }

    .square[attacked='true'] {
      cursor: not-allowed;
    }

    .square[ship='false'] {
      background-color: var(--square-bg-color);
    }

    .square[ship='false'][attacked='true'] .attack-mark {
      background-color: var(--attack-mark-miss-color);
    }

    .square[ship='true'] {
      background-color: var(--square-ship-bg-color);
    }

    .square[ship='true'][attacked='true'] .attack-mark {
      background-color: var(--attack-mark-hit-color);
    }
  }

  .board.hidden-fleet {
    .square[ship='true'] {
      background-color: var(--square-bg-color);
    }
  }

  .board.targetable {
    .square[attacked='false']:hover {
      border: 2px solid var(--square-hover-border-color);
      outline: 2px solid var(--square-hover-border-color);
      z-index: 1;
      cursor: pointer;
    }
  }
}
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
  margin: 20px 0 4px 0;
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;
  }
}
