@font-face {
  font-family: 'Black Ops One';
  src:
    url('../assets/fonts/BlackOpsOne-Regular.woff2') format('woff2'),
    url('../assets/fonts/BlackOpsOne-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

:root {
  --system-ui:
    system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

  --main-background-color: #222222;
  --main-font-color: #fff;

  --header-background-color-1: #142864;
  --header-background-color-2: #4664a0;
  --logo-font-color: #e5e8eb;
  --logo-text-strike-color: #c7ccce;

  --board-border-color: #fff;
  --square-size: 40px;
  --square-background-color: rgba(90, 115, 140, 0.65);
  --square-ship-background-color: #1f2741;
  --attack-mark-hit-color: #ff5353;
  --attack-mark-miss-color: #ffffff;
  --square-hover-border-color: #f3853c;
  --square-allowed-border-color: #a8e496;
  --square-not-allowed-border-color: #f59191;

  /* --cannon-red-color: #c33636; */
  --radar-content-color: #7fff90;
  --radar-background-color: #242b25;
  --radar-border-color: #424242;

  --button-border-color: #c4c4c4;
  --button-background-color: #ebebeb;
  --button-hover-border-color: #b0b6c2;
  --button-hover-background-color: #dde6f1;
}

body {
  min-height: 100vh;
  background-color: var(--main-background-color);
  color: var(--main-font-color);
  font-family: var(--system-ui);
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 32px;
  padding: 16px 0px 24px 0px;
  filter: drop-shadow(0 10px 0.75rem rgba(0, 0, 0, 0.25));
  background-color: var(--header-background-color-1);
  background: linear-gradient(
    180deg,
    var(--header-background-color-1) 10%,
    var(--header-background-color-2) 100%
  );

  #logo {
    width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
    filter: drop-shadow(0 0 0.75rem rgba(0, 0, 0, 0.25));

    img {
      width: 280px;
      position: relative;
      top: 4px;
      -webkit-user-drag: none;
      user-select: none;
    }

    #main-title {
      width: fit-content;
      font-family: 'Black Ops One', var(--system-ui);
      font-size: 4.5rem;
      background-color: black;
      border-radius: 16px;
      padding: 4px 16px;
      color: var(--logo-font-color);
      -webkit-text-stroke: 2px var(--logo-text-strike-color);
    }
  }
}

main {
  flex: 1;
  width: 100%;

  .page[hidden='true'] {
    display: none;
  }

  .section[hidden='true'] {
    display: none;
  }
}

#initial-page[hidden='false'] {
  display: flex;
  flex-direction: column;
  align-items: center;

  #subtitle {
    font-size: 1.5rem;
    font-weight: 600;
  }

  #description {
    width: 70ch;
    margin: 16px 0 32px 0;
  }

  .start-game-btn {
    width: 100%;
    display: flex;
    gap: 16px;
    padding: 8px 16px;
    border: none;
    border-radius: 8px;
    border-bottom: 4px solid var(--button-border-color);
    background-color: var(--button-background-color);

    .text {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      letter-spacing: 0.05rem;
      gap: 6px;

      .play-vs {
        font-size: 1rem;
        line-height: 1rem;
        font-weight: 400;
      }

      .opponent {
        text-transform: uppercase;
        font-size: 1.4rem;
        line-height: 1.4rem;
        font-weight: 600;
      }
    }

    .icon {
      width: 40px;
    }

    &:hover {
      background-color: var(--button-hover-background-color);
      border-bottom-color: var(--button-hover-border-color);
      cursor: pointer;
    }
  }

  #players-form {
    display: flex;
    flex-direction: column;
    gap: 32px;

    .wrapper {
      display: flex;
      flex-direction: column;
      gap: 8px;
      font-size: 1.1rem;
    }

    input {
      border-radius: 4px;
      border: none;
      padding: 4px 8px;
    }
  }

  .gamemodes {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 8px;

    #two-player-mode + div {
      text-align: center;
      text-transform: uppercase;
      font-weight: 600;
    }

    .gamemode {
      border: 2px solid #fff;
      padding: 32px 64px;
      display: flex;
      align-items: center;
      border-radius: 8px;
    }
  }
}

#gameplay-page[hidden='false'] {
  flex: 1;
  width: inherit;
  display: flex;
  flex-direction: column;
  align-items: center;

  #feedback-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 8px;
    width: 700px;
    min-height: 80px;
    padding: 16px;
    color: var(--radar-content-color);
    background-color: var(--radar-background-color);
    border: 6px solid var(--radar-border-color);
    border-radius: 32px;
    font-family: 'Black Ops One', monospace, var(--system-ui);
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    font-size: 1.1rem;

    .message {
      display: flex;
      flex-direction: column;
      gap: 4px;
    }
  }

  #players-section {
    width: inherit;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
  }

  #new-game-section[hidden='false'] {
    margin: 40px 0;
    display: flex;
    gap: 48px;

    [type='button'] {
      text-transform: uppercase;
      width: 18ch;
      padding: 8px 4px;
      border: none;
      border-radius: 8px;
      border-bottom: 4px solid var(--button-border-color);
      background-color: var(--button-background-color);
      font-weight: 500;

      &:hover {
        background-color: var(--button-hover-background-color);
        border-bottom-color: var(--button-hover-border-color);
        cursor: pointer;
      }
    }
  }
}

#coordinates-info-box {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 260px;
  min-width: 260px;
  padding: 16px 24px;
  border: 6px solid var(--radar-border-color);
  background-color: var(--radar-background-color);
  border-radius: 32px;
  gap: 8px;

  .title,
  .title + div {
    font-family: 'Courier New', Courier, monospace;
    color: var(--radar-content-color);
    font-weight: 600;
    text-transform: uppercase;
    padding: 4px 8px;
    width: 100%;
    text-align: center;
    font-size: 0.9rem;
  }

  .title {
    border: 2px solid var(--radar-content-color);
  }

  .wrapper {
    display: flex;
    gap: 16px;
    align-items: center;
    justify-content: center;
  }

  .missile-box {
    width: 100px;
    user-select: none;
    padding: 16px;

    .icon {
      -webkit-user-drag: none;
    }

    .icon[face-to='left'] {
      transform: rotate(335deg);
    }

    .icon[face-to='right'] {
      transform: rotate(115deg);
    }
  }

  .coordinates {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
    width: 70px;
    height: 70px;
    padding: 16px;
    font-family: monospace, var(--system-ui);
    font-weight: 600;
    color: var(--radar-content-color);
    border: 3px dashed currentColor;
    border-radius: 16px;
    /* border-radius: 50%; */
    /* position: relative; */
    /* top: 60px; */
    /* right: 20px; */
  }
}

.player-box {
  padding: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    text-align: center;
    margin: 16px 0;
    font-size: 1.2rem;
    font-weight: 600;

    .target {
      width: 30px;
      height: 30px;
      margin: 0;

      img.hidden {
        display: none;
      }
    }
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(11, var(--square-size));
    grid-template-rows: repeat(11, var(--square-size));

    & > * {
      align-items: center;
      justify-items: center;
    }
  }

  .indexes {
    display: grid;
    font-weight: 600;

    &.x-indexes {
      grid-template-columns: subgrid;
      grid-column: 2 / -1;
      grid-row: 1 / span 1;
    }

    &.y-indexes {
      grid-template-rows: subgrid;
      grid-column: 1 / span 1;
      grid-row: 2 / -1;
    }
  }

  .board {
    display: grid;
    grid-column: 2 / -1;
    grid-row: 2 / -1;
    grid-template-columns: subgrid;
    grid-template-rows: subgrid;
    outline: 6px solid var(--board-border-color);
    background-image: url('../assets/imgs/dark-ocean-background.png');
    background-size: cover;

    .square {
      border: 1px solid var(--board-border-color);
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .attack-mark {
        width: 50%;
        height: 50%;
        border-radius: 50%;
        background-color: transparent;
      }
    }

    .square[ship='false'] {
      background-color: var(--square-background-color);
    }

    .square[ship='true'] {
      background-color: var(--square-ship-background-color);
    }
  }

  .board.on-ship-placement {
    .square[preview='allowed'] {
      border: 4px solid var(--square-allowed-border-color);
      cursor: pointer;
    }

    .square[preview='not-allowed'] {
      border: 4px solid var(--square-not-allowed-border-color);
      cursor: not-allowed;
    }
  }

  .board.on-play {
    .attack-mark {
      transition: background-color 0.5s ease;
    }

    .square[ship='false'][attacked='true'] .attack-mark {
      background-color: var(--attack-mark-miss-color);
    }

    .square[ship='true'][attacked='true'] .attack-mark {
      background-color: var(--attack-mark-hit-color);
    }

    &.hidden-fleet {
      .square[ship='true'] {
        background-color: var(--square-background-color);
      }
    }

    &.targetable {
      .square:hover {
        border: 2px solid var(--square-hover-border-color);
        outline: 2px solid var(--square-hover-border-color);
        z-index: 1;
      }

      .square[attacked='false'] {
        cursor: crosshair;
      }

      .square[attacked='true'] {
        cursor: not-allowed;
      }
    }

    &:not(.targetable) {
      opacity: 60%;

      .square {
        cursor: not-allowed;
      }
    }
  }
}

button.confirm-fleet {
  margin: 30px 0px 20px 40px;
  text-transform: uppercase;
  padding: 8px 32px;
  border: none;
  border-radius: 8px;
  border-bottom: 4px solid var(--button-border-color);
  background-color: var(--button-background-color);
  font-weight: 500;
  font-size: 1rem;

  &:hover {
    background-color: var(--button-hover-background-color);
    border-bottom-color: var(--button-hover-border-color);
    cursor: pointer;
  }
}

span.shift-key {
  border: 1px solid currentColor;
  border-radius: 2px;
  padding: 2px 4px;
  font-size: 0.9em;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 0;
  margin: 20px 0 4px 0;
  width: 100%;

  a {
    text-decoration: none;
    color: inherit;
  }
}
